doctype
html
  head
    title='bootstrap'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
    style
      | html, html body { margin: 0; background: #333; }
  body
    script(src=bundlePath)
